{{> header }}

<form action="/login" method="POST">
	<input type="email" placeholder="Email" name="email" required>
	<input type="password" placeholder="Password" name="pass" required>
	<input type="submit">
</form>

{{> footer }}