{{> header }}

<form action="/signup" method="POST">
	<input type="text" placeholder="Full Name" name="fname" required>
	<input type="email" placeholder="Email" name="email" required>
	<input type="password" placeholder="Password" name="pass" required>
	<input type="text" placeholder="College ID" name="cid" required>
	<input type="text" placeholder="Roll No" name="roll" required>
	<input type="submit">
</form>

{{> footer }}